EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN='Your access token'
EXPO_PUBLIC_TOPIC='emergency/location'
EXPO_PUBLIC_BROKER_HOST='192.168.1.72'
EXPO_PUBLIC_PORT=8083
EXPO_PUBLIC_URL_SERVER='http://192.168.1.72:3000/'